.quote {
  //min-height: 30rem;
  position: relative;
  color: #fff;
  border-radius: 0 0 0 10rem;
  overflow: hidden;
  background: #40407a;
  border: .2rem solid rgba(45, 52, 54, .5);
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 2.5rem
}